<h1>
  Questions
</h1>

{{#each-in this.data.questionsGrouped as |topic questions|}}
  <h2>{{topic}}</h2>

  {{#each questions as |question|}}
    <h3>
      {{question.num}}:
      {{question.title}}
      {{#if question.condition}}
        ({{question.condition}})
      {{/if}}
    </h3>

    <p>{{question.desc}}</p>

    <ul>
      {{#each question.options as |option|}}
        <li>{{option.letter}}: {{option.title}}</li>
      {{/each}}
    </ul>
  {{/each}}
{{/each-in}}