{{#each-in this.data.groupedRecommendations as |topic recommendations|}}
  <h1>
    {{topic}}
  </h1>

  {{#each recommendations as |recommendation|}}
    <h2>
      {{recommendation.title}}
      ({{recommendation.topic}})
    </h2>

    <p>
      <strong>Basic</strong>:
      {{recommendation.basic}}
    </p>

    <p>
      <strong>Advanced</strong>:
      {{recommendation.advanced}}
    </p>

    {{#each recommendation.resources as |resource|}}
      <p>
        <a href={{resource.link}}>
          <strong>{{resource.title}}</strong>
        </a><br />
        {{resource.short}}
      </p>
    {{/each}}

    {{#each recommendation.examples as |example|}}
      <p>
        <a href={{example.link}}>
          <strong>{{example.title}}</strong>
        </a><br />
        {{example.short}}
      </p>
    {{/each}}
  {{/each}}
{{/each-in}}